#data {
    margin-top: 10px;
}

.card-img-top {
    height: 20rem;
    position: relative;
}

.inner {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -10%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 30px;
}

.main {
    margin-left: 280px;
    margin-top: 10px;
    width: 53rem;
}