<app-navbar></app-navbar>
<div class="recipe-container">
    <ng-container *ngIf="loggedIn">
        <div class="sidebar">
            <app-sidebar *ngIf="loggedIn"></app-sidebar>
        </div>
    </ng-container>
<div class="row main-content">
    <div class="col-md-8">
        <div class="card main" [style.width.rem]="loggedIn ? 51:60">
            <button type="button save" *ngIf="loggedIn" data-action="codemirror#submit" class="btn btn-success btn-sm" (click)="saveRecipe()" data-bs-toggle="tooltip" title="Save this recipe to your collection" data-bs-placement="bottom">
                <i class="bi bi-bookmark" style="color: white;"></i>
            </button>
            <img class="card-img-top" src="assets/{{ recipe.imageUrl }}" alt="Card image cap">
            <div class="text-center bg-text inner">
                <h3><strong>{{ recipe.name }}</strong></h3>
            </div>
            <div class="card-body">
                <div class="card details">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-md-4 text-center">
                                <p style="font-size: 18px;"><i class="bi bi-person"></i> {{ recipe.author }}</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p style="font-size: 18px;"><i class="bi bi-clock"></i> {{ recipe.time }} min</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p style="font-size: 18px;"><i class="bi bi-cup-straw"></i> {{ recipe.cuisine }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="ingredients">
                    <h5>Ingredients</h5>
                    <ul>
                        <li *ngFor="let ingredient of recipe.ingredients">
                            {{ ingredient }}
                        </li>
                    </ul>
                </div>
                <div class="steps">
                    <h5>Steps to Prepare</h5>
                    <ul>
                        <li *ngFor="let step of recipe.steps">
                            {{ step }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 data">
        <app-toast type="success" message="Saved recipe to your collection successfully!" *ngIf="successToast"></app-toast>
        <app-toast type="danger" message="Error in saving recipe. Try again later." *ngIf="errorToast"></app-toast>
        <div class="card" id="data">
            <div class="card-body">
                <h5 class="card-title">Cooking timeline</h5>
                <div class="chart-container">
                    <app-progress-bar [prepTime]="recipe.prepTime" [cookingTime]="recipe.cookingTime"></app-progress-bar>
                </div>
            </div>
        </div>
        <div class="card" id="data">
            <div class="card-body">
                <h5 class="card-title">Difficulty level</h5>
                <div class="chart-container">
                    <app-meter [difficulty]="recipe.difficulty"></app-meter>
                </div>
            </div>
        </div>
        <div class="card" id="data">
            <div class="card-body">
                <h5 class="card-title">Nutritional Breakdown</h5>
                <div class="chart-container">
                    <app-pie-chart [labels]="pieChartLabels" [data]="pieChartData"></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="card" id="data">
            <div class="card-body">
                <h5 class="card-title">Recipe Cost Breakdown</h5>
                <div class="chart-container">
                    <app-bar-chart *ngIf="!!barChartLabels" [labels]="barChartLabels" [data]="barChartData"></app-bar-chart>
                </div>
            </div>
        </div>
        <div class="card" id="data">
            <div class="card-body">
                <h5 class="card-title">Composition Overview</h5>
                <div class="chart-container">
                    <app-stacked-chart *ngIf="!!stackedChartLabels" [labels]="stackedChartLabels" [data]="stackedChartData"></app-stacked-chart>
                </div>
            </div>
        </div>
    </div>
</div>
</div>