.recipe-container {
    display: flex;
}
  
.sidebar {
    width: 250px;
} 

.main-content {
    flex: 1;
}
  
#data {
    margin-top: 10px;
}

.card-img-top {
    height: 25rem;
    position: relative;
}

.inner {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -10%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 30px;
}

.main {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.details {
    background-color: #eeeeee;
    margin-top: 5px;
    height: 80px;
    margin-bottom: 15px;
}

.bi {
    color: #f89223;
    font-size: 27px;
}

li {
    list-style: none;
}

li::before {
    content: "\2022";
    color: #f89223;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.btn {
    background-color: #f89223;
    border-color: #f89223;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    color: white;
}

