<app-sidebar></app-sidebar>
<div class="row">
    <div class="col-md-9">
        <div class="card main">
            <button type="button" data-action="codemirror#submit" class="btn btn-success btn-sm pull-right">
                <i class="bi bi-bookmark" style="color: white;"></i>
            </button>
            <img class="card-img-top" src="assets/tartPecan.jpeg" alt="Card image cap">
            <div class="text-center bg-text inner">
                <h3><strong>{{ recipe.name }}</strong></h3>
            </div>
            <div class="card-body">
                <div class="card details">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-md-4 text-center">
                                <p style="font-size: 18px;"><i class="bi bi-person"></i> {{ recipe.author }}</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p style="font-size: 18px;"><i class="bi bi-clock"></i> {{ recipe.time }} min</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p style="font-size: 18px;"><i class="bi bi-cup-straw"></i> {{ recipe.cuisine }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="ingredients">
                    <h5>Ingredients</h5>
                    <ul>
                        <li *ngFor="let ingredient of recipe.ingredients">
                            {{ ingredient }}
                        </li>
                    </ul>
                </div>
                <div class="steps">
                    <h5>Steps to Prepare</h5>
                    <ul>
                        <li *ngFor="let step of recipe.steps">
                            {{ step }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 data">
        <div class="card" id="data">
            <div class="card-body">
                <h5 class="card-title">Nutritional Breakdown</h5>
                <div class="chart-container">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="card" id="data">
            <div class="card-body">
                <h5 class="card-title">Recipe Cost Breakdown</h5>
                <div class="chart-container">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
        </div>
        <div class="card" id="data">
            <div class="card-body">
                <h5 class="card-title">Composition Overview</h5>
                <div class="chart-container">
                    <app-stacked-chart></app-stacked-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<app-meter></app-meter>