<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" width="40" height="30" class="d-inline-block align-top" alt="">RecipeHub</a>
    <div class="button-container pull-right">
    <button type ="button" data-action="codemirror#submit" class="btn btn-success btn-sm">
        Login
    </button>
    <button type ="button" data-action="codemirror#submit" class="btn btn-success btn-sm">
        Register
    </button>
    </div>
    <!----
    <button type="button" data-action="codemirror#submit" class="btn btn-success btn-sm pull-right">
        <i class="bi bi-box-arrow-right"></i>
    </button>
    -->
</nav>