<nav class="sidebar col-sm-2 col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="activeButton" ariaCurrentWhenActive="page" data-bs-toggle="tooltip" title="Go to home page" data-bs-placement="bottom"><i class="bi bi-house"></i> Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/submit-recipe" routerLinkActive="activeButton" ariaCurrentWhenActive="page" data-bs-toggle="tooltip" title="Add your recipes to the collection" data-bs-placement="bottom"><i class="bi bi-card-text"></i> Submit Recipe</a>
      </li>
      <li class="nav-item">
        <a routerLink="/saved-recipes" data-bs-toggle="tooltip" title="Save recipes to your collection" data-bs-placement="bottom"><i class="bi bi-heart"></i> Saved Recipes</a>
      </li>
    </ul>
  </nav>